{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Success</title>
{% endblock %}

{% block content %}
   <p> Nous sommes dans la dernière page côté expediteur </p>

   {{ destinataire }}
   {{ fichier }}
   <a href="{{ id }}">localhost/wetransfer_like/{{ id }}</a>
{% endblock %}